.App {
  display: flex;
}
.App .container{
  flex-grow: 1;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.content--container {
  display: flex;
  justify-content: center;
  padding-bottom: 64px;
}