@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@1,700&display=swap');

/* variables */
:root {
  --color--gradient: linear-gradient(90deg, #1E71E6, #1C83E3, #048DD7);
  --color--primary: #3881FF;
  --color--dark-black: #222222;
  --color--light-black: #717171;
  --color--dark-gray: #DDDDDD;
  --color--light-gray: #eeeeee;
  --color--white: #ffffff;
  --color--transparent: rgba(0 0 0 / 0);
  --color--dark-modifier--1: rgba(34 34 34 / 0.08);
  --color--dark-modifier--2: rgba(34 34 34 / 0.12);
  --color--light-modifier--1: rgba(255 255 255 / 0.08);
  --color--light-modifier--2: rgba(255 255 255 / 0.12);
  --color--primary-modifier--1: rgba(56 129 255 / 0.08);
  --color--primary-modifier--1: rgba(56 129 255 / 0.12);
}



/* containers */
.container--flex {
  display: flex;
  flex-direction: column;
  width: 1128px;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1439px) {
  .container--flex {
    width: 100%;
    padding: 0px 200px;
  }
}
@media screen and (max-width: 1239px) {
  .container--flex {
    width: 100%;
    padding: 0px 48px;
  }
}
@media screen and (max-width: 904px) {
  .container--flex {
    width: 100%;
    padding: 0px 32px;
  }
}
@media screen and (max-width: 599px) and (min-width: 2px) {
  .container--flex {
    width: 100%;
    padding: 0px 16px;
  }
}
 



/* buttons */
.button--text {
  min-width: 120px;
  height: 44px;
  padding: 0px 16px;
  background-color: var(--color--transparent);
  color: var(--color--dark-black);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.button--text:hover {
  background-color: var(--color--dark-modifier--1);
}
.button--text:active {
  background-color: var(--color--dark-modifier--2);
}
.button--filled {
  min-width: 120px;
  padding: 0px 16px;
  height: 44px;
  background-image: var(--color--gradient);
  color: var(--color--white);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.button--filled:hover {
  opacity: 92%;
}
.button--filled:active {
  opacity: 88%;
}





/* fonts */
.font--title {
  font-family: Nunito Sans, sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
}
.font--subtitle {
  font-family: Nunito Sans, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}
.font--callout {
  font-family: Nunito Sans, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.font--callout--low {
  font-family: Nunito Sans, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.font--label {
  font-family: Nunito Sans, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
}
.font--body {
  font-family: Nunito Sans, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.font--header {
  font-family: Nunito Sans, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.font--caption {
  font-family: Nunito Sans, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}




/* line break */
.break {
  background-color: var(--color--light-gray);
  height: 1px;
  width: 100%;
}




/* icons */
.icon--16px {
  height: 16px;
  width: 16px;
}
.icon--24px {
  height: 24px;
  width: 24px;
}




/* icon buttons */
.button__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  background-color: var(--color--transparent);
  cursor: pointer;
  border-radius: 1000px;
}
.button__icon:hover {
  background-color: var(--color--dark-modifier--1);
}
.button__icon:active {
  background-color: var(--color--dark-modifier--2);
}
.button__icon--low {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  background-color: var(--color--transparent);
  cursor: pointer;
  border-radius: 1000px;
}
.button__icon--low:hover {
  opacity: 64%;
}
.button__icon--low:active {
  opacity: 64%;
}




/* hidden */
.hidden {
  opacity: 0%;
  cursor: auto;
}




/* list items */
.list-item {
  padding: 0px 12px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color--dark-black);
  text-decoration: none;
  background-color: var(--color--white);
  cursor: pointer;
}
.list-item:hover {
  background-color: var(--color--light-gray);
}
.list-item:focus {
  background-color: var(--color--dark-gray);
}

/* base styles */
body {
  font-family: Nunito Sans, sans-serif;
  margin: 0;
  font-size: 1.1em;
  background: var(--color--white);
}
ul, li, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}

/* layout */
.page-title {
  font-size: 1em;
  color: var(--heading-color);
  display: inline-block;
}
.btn {
  background: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1em;
  border: 1px solid var(--primary-color);
}
.btn:hover {
  color: #fff;
  background-color: var(--primary-color);
}

/* forms */
label {
  display: block;
  margin: 24px auto;
}
label span {
  display: block;
  margin-bottom: 6px;
}
input, textarea {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}
textarea {
  min-height: 160px;
}
.error {
  color: red;
  background: pink;
  border: 1px solid red;
  border-radius: 4px;
  padding: 8px;
  margin: 10px 0;
}