.header {
    width: 100%;
    background-color: var(--color--white);
    height: 50px;
    border-bottom: 1px solid var(--color--dark-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    padding: 8px 0px;
}
.header .container--flex {
    height: 100%;
}


.header__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
}
.header__logo--disco-ball {
    height: 32px;
    width: 32px;
    margin-right: 8px;
}
.header__logo--text {
    background-image: linear-gradient(90deg, rgba(30,113,230,1) 0%, rgba(28,131,227,1) 50%, rgba(4,141,215,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-family: Ubuntu;
    font-size: 24px;
    line-height: 28px;
    padding-right: 4px;
}
.header__logo--chevron {
    filter: invert(36%) sepia(20%) saturate(7485%) hue-rotate(204deg) brightness(94%) contrast(90%);
    margin-bottom: -4px;
}